<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = ?
		AND MEMBER_PWD = ? 
		AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT INTO MEMBER(MEMBER_NO
						   ,GRADE
						   ,MEMBER_ROLE
						   ,MEMBER_ID
						   ,MEMBER_PWD
						   ,MEMBER_NAME
						   ,MEMBER_BIRTH
						   ,GENDER
						   ,PHONE
						   ,EMAIL
						   ,ADDRESS
						   )
					VALUES(SEQ_MNO.NEXTVAL
						   ,DEFAULT
						   ,'1'
						   ,?
						   ,?
						   ,?
						   ,?
						   ,?
						   ,?
						   ,?
						   ,?)	   
	</entry>
	
	<entry key="checkId">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = ?
	</entry>

	<entry key="selectId">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME = ?
		AND MEMBER_BIRTH = ?
		AND PHONE = ?
	</entry>
	
	<entry key="findId">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_NAME = ?
		AND PHONE = ?
		AND MEMBER_BIRTH = ?          
	</entry>
	
	<entry key="searchPwd">
		SELECT MEMBER_PWD
        FROM MEMBER
        WHERE MEMBER_ID = ?
        AND MEMBER_NAME = ?
        AND MEMBER_BIRTH = ?
        AND PHONE = ?
	</entry>
	
	<entry key="selectShoppingList">
		SELECT ORDER_NO, CREATED_AT, MEMBER_NAME,  PRODUCT_NAME
		FROM MEMBER M
		JOIN PAYMENT PM USING (MEMBER_NO)
		JOIN PRODUCT PR ON (PM.PRODUCT_NO = PR.PRODUCT_NO)
		WHERE M.STATUS = 'Y'
		ORDER BY CREATED_AT
	</entry>
	
	<!-- 회원관리 조회 -->
<entry key="selectAdminMember">
	SELECT *
	FROM MEMBER
	ORDER BY MEMBER_NO DESC
</entry>

<!-- 회원 상세조회 -->
<entry key="detailMemberAdmin">
	SELECT *
	FROM MEMBER
	WHERE MEMBER_NO = ?
	ORDER BY ENROLL_DATE DESC
</entry>

<!-- 검색 카테고리 -->
<entry key="searchIdAdmin">
	SELECT *
	FROM MEMBER
	WHERE MEMBER_ID = ?
	ORDER BY ENROLL_DATE DESC
</entry>

<entry key="searchNameAdmin">
	SELECT *
	FROM MEMBER
	WHERE MEMBER_NAME = ?
	ORDER BY ENROLL_DATE DESC
</entry>

<entry key="searchBirthAdmin">
	SELECT *
	FROM MEMBER
	WHERE MEMBER_BIRTH LIKE '%'||?||'%'
	
	ORDER BY ENROLL_DATE DESC	
</entry>

<entry key="searchPhoneAdmin">
	SELECT *
	FROM MEMBER
	WHERE PHONE LIKE'%'||?||'%'
	ORDER BY ENROLL_DATE DESC
</entry>
<entry key="searchEmailAdmin">
	SELECT *
	FROM MEMBER
	WHERE EMAIL LIKE'%'||?||'%'
	ORDER BY ENROLL_DATE DESC
</entry>

<entry key="searchAddressAdmin">
	SELECT *
	FROM MEMBER
	WHERE ADDRESS LIKE'%'||?||'%'
	ORDER BY ENROLL_DATE DESC
</entry>

<entry key="searchGradeAdmin">
	SELECT *
	FROM MEMBER
	WHERE GRADE = ?
	ORDER BY ENROLL_DATE DESC
</entry>

<entry key="updateMemberAdmin">
	UPDATE MEMBER
	SET MEMBER_ID = ?
	   ,MEMBER_PWD = ?
	   ,MEMBER_NAME = ?
	   ,MEMBER_BIRTH = ?
	   ,GENDER = ?
	   ,PHONE = ?
	   ,EMAIL = ?
	   ,ADDRESS = ?
	   ,MODIFY_DATE = SYSDATE
	WHERE MEMBER_NO = ?
</entry>

<entry key="deleteMemberAdmin">
	UPDATE MEMBER
	SET STATUS = 'N'
	WHERE MEMBER_NO = ?
	AND STATUS = 'Y'
</entry>
</properties>