<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 도서등록 -->
	<entry key="insertProduct">
		INSERT INTO PRODUCT(PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
                    AUTHOR,PRODUCT_PRICE,PRODUCT_SALES_RATE,PRODUCT_STOCK,PRODUCT_TEXT)
		VALUES (SEQ_PNO.NEXTVAL,?,?,?,?,?,?,?,?)
	</entry>
	<!-- 상품등록 -->
	<entry key="insertProductItem">
		INSERT INTO PRODUCT(PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,PRODUCT_PRICE,
							PRODUCT_SALES_RATE,PRODUCT_STOCK,PRODUCT_TEXT)
		VALUES (SEQ_PNO.NEXTVAL,?,?,?,?,?,?,?)
	</entry>
	<!-- 첨부파일 넣기 -->
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(ATTACHMENT_ID,BOARD_NO,ATTACHMENT_NAME,
								ATTACHMENT_CHANGE,ATTACHMENT_PATH,FILE_LEVEL)
		VALUES (SEQ_ANO.NEXTVAL,SEQ_PNO.CURRVAL,?,?,?,?)
	</entry>
	<!-- 페이징 처리 한 도서리스트 -->
	<entry key="selectAttachmentList">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
		        FROM(SELECT PRODUCT_NO,PRODUCT_CATEGORY,PRODUCT_NAME,PRODUCT_PUBLISHER,
		            PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		            AUTHOR,CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
		            FROM PRODUCT
		            JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
		            AND STATUS = 'Y'
		            AND FILE_LEVEL = '1'
		            AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
		            ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<!-- 상품리스트 -->
	<entry key="selectItem">
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
				FROM(SELECT PRODUCT_NO,PRODUCT_NAME,PRODUCT_PUBLISHER,
		       		   		PRODUCT_TEXT,PRODUCT_PRICE,PRODUCT_SALES_RATE,
		      	 	   		CREATE_DATE,ATTACHMENT_PATH||ATTACHMENT_CHANGE "TITLEIMG"
					FROM PRODUCT
					JOIN ATTACHMENT ON(PRODUCT_NO=BOARD_NO)
					AND STATUS = 'Y'
					AND FILE_LEVEL = '1'
					AND PRODUCT_CATEGORY = '7'
					ORDER BY CREATE_DATE DESC)A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM PRODUCT
		WHERE STATUS = 'Y'
		AND PRODUCT_CATEGORY IN (1,2,3,4,5,6)
	</entry>
	
<entry key="selectAdminProduct">
	SELECT *
	FROM PRODUCT
	ORDER BY PRODUCT_NO DESC
</entry>

<entry key="detailAdminProduct">
	SELECT *
	FROM PRODUCT
	WHERE PRODUCT_NO = ?
</entry>
</properties>